* {
    font-family: sans-serif;
}

body {
    box-sizing: border-box;
    margin: 0;
    background-color: rgb(224, 222, 222);
}

body header {
    width: 100%;
    height: 200px;
    background-color: white;
    color: rgb(36, 36, 36);
    display: flex;
    justify-content: space-evenly;
}

body main {
    margin: 0 100px;
}

footer {
    text-align: center;
}

p {
    font-size: 1em;
    color: rgb(85, 85, 85);
    line-height: 1.5em;
}

h1 {
    color: rgb(36, 36, 36);
}

/* třídy ----------------------------------------------------------- */
.menu {
    margin: 0;
    list-style-type: none;
    display: flex;
    align-items: center;
    height: 100%;
}

.menu li {
    margin: 0 5px;
    font-size: 1.3em;
}

.menu a {
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px;
}

.menu a:hover {
    border-bottom: 3px solid red;
    
}

.uvod .omne .vzdelani .kontakt {
    overflow: auto;
}

.uvod h1 {
    font-size: 4.5em;
    margin-left: 100px;
}


.pata {
    font-size: 12px;
}

/* id ------------------------------------------------------------------- */

#fotozuza {
    float: right;
}

#logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#logo h2{
    font-size: 2.5em;
}

#logo p{
    text-transform: uppercase;
}
